
.section {
   display: flex;
   flex-direction: column;
   margin-bottom: 0.75rem;
}


.titreSection {
   color: var(--color-text-primary);
   font-weight: bold;
   font-size: var(--modal-font-sous-titre);
}

.sousSection {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid var(--color-border-light);
   border-radius: 1rem;
   box-shadow: var(--shadow-medium);
   color: var(--color-text-primary  );
   background-color: var(--color-background-light);
}

.sectionContainer {
   padding:  0.75rem 0.5rem;
}

.sectionLigne {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: var(--color-text-primary  );
   border-bottom: 1px solid var(--color-border-medium);
   padding: 0.5rem 0;
}

.sectionLigne:only-child{
 padding: 0 0;
}

.sectionLigne:first-child{
   padding-top: 0 ;
   color: var(--color-primary);
   font-weight: 600;
}

.sectionLigne:last-child{
   padding-bottom: 0 ;
   border-bottom: 1px solid transparent;
}

/* Style de la section ALIMENT*/

.sectionAliment {
   color : var(--color-text-primary) ;
   font-size: var(--size-font-titre);
   font-weight: bold;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}

.pointAliment {
   width: var(--size-pastille); /* Largeur fixe pour former un cercle */
   height: var(--size-pastille); /* Hauteur fixe pour former un cercle */
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   font-size: calc(var(--size-pastille) * 0.8) ;
   cursor: pointer;
   flex-shrink: 0; /* Essentiel : empêche les cercles de rétrécir */
   color: var(--color-primary-text);
   background-color: var(--color-accent);
   transition: background-color 0.2s ease, color 0.2s ease;
 }

 /* Section portion */

.sectionPortion {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 2px solid var(--color-primary);
   border-radius: 1rem;
   box-shadow: var(--shadow-light);
   padding: 0.75rem 0.5rem ;
   color: var(--color-text-primary  );
   font-size: var(--size-font-normal);
   font-weight: 500;
}

.parts {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px solid var(--color-primary);
   padding: 0.25rem 0rem ;
}

.unitePart {
   display: flex;
   gap: 2px;
}

.choixPart {
   padding: 0.75rem 0.5rem ;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.choixPart > * { /* Appliquez à tous les enfants directs de .choixPart */
   flex-grow: 1;
 }

/* Style de la section REPAS */
.sectionRepas {
   display: flex;
   justify-content: space-between;
   padding-top: 0;
   padding-bottom: 0;
}
   
.boutonRepas {
   flex: 1 1 calc(25%);
   max-width: calc(25%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-right: 2px solid var(--color-primary);
   border-top: 0px solid transparent;
   border-bottom: 0px solid transparent;
   border-left: 0px solid transparent;
   background-color: transparent;
   color: var(--color-text-primary);
   padding: 0.75rem 0.5rem;
   transition: all 0.2s ease;
}

 .boutonRepas:last-child {
   border-right: 0px solid transparent;
   }
   
.boutonRepas:hover {
   border-color: var(--color-action-hover);
   cursor: pointer;
}
   
.boutonRepasCourant {
   border-color: var(--color-primary);
   background-color: var(--color-primary);
   color: var(--color-primary-text); /* texte clair */
   font-weight: 600;
   box-shadow: var(--shadow-medium); /* ombre légère */
   transform: scale(1.02); /* léger zoom */
   transition: all 0.2s ease;
 }
 
 .boutonRepasCourant:hover {
   background-color: var(--color-secondary);
   border-color: var(--color-secondary);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 }
   
.repasIcon {
   font-size: 1.5rem;
}
   
.repasNom {
   font-size: var(--size-font-mini);
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
    


/* Section informations complementaire*/
.sectionInformation {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding:  0.75rem 0.5rem;
   color: var(--color-text-primary  );
}