.button {
   padding: 0.5rem 1rem;
   border-radius: 6px;
   font-weight: 500;
   cursor: pointer;
   border: none;
   transition: background 0.2s ease;
 }
 
 /* Variants */
 .primary {
   background-color: var(--color-primary);
   color: var(--color-primary-text)
 }
 
 .primary:hover {
   background-color: var(--color-primary-hover);
 }
 
 .secondary {
   color: var(--color-secondary);
   border: 1px solid var(--color-primary);
 }
 
 .secondary:hover {
   color: var(--color-secondary-hover);
 }
 
 .danger {
   background-color: var(--color-error);
   color: var(--color-error-text);
 }
 
 .danger:hover {
   background-color: var(--color-error-hover);
 }
 
 .button:disabled {
   opacity: 0.6;
   cursor: not-allowed;
 }
 


