:root {
  --color-primary: #2563EB;
  --primary-light: #93C5FD;
  --color-secondary: #BFDBFE;
  --background-color: #F9FAFB;
  --text-color: #334155;
}

.bg-main {
  background-color: var(--background-color);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.btn-primary-custom {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.btn-primary-custom:hover {
  background-color: var(--primary-light);
}
