.button {
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease;
  align-items: center;
  justify-content: center;
}

/* Variants */
.primary {
  background-color: transparent;
  color: var(--color-primary);
}

.primary:hover {
  color: var(--color-primary-hover);
}

.secondary {
  background-color: transparent;
  color: var(--color-secondary   );
}

.secondary:hover {
  color: var(--color-secondary-hover);
}

.danger {
  color: var(--color-error);
}

.danger:hover {
  color: #b52a37;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* ============================================================= */
/* base pour les boutons puce                                    */
/* ============================================================= */

.puce {
 width: 2.5rem;  /* taille par défaut */
 height: 2.5rem;
 font-size: 1rem; /* ici la taille de l'icône */
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
}

/* tailles prédéfinies */
.sm {
 width: 2rem;
 height: 2rem;
 font-size: 0.8rem;
}

.md {
 width: 2.5rem;
 height: 2.5rem;
 font-size: 1rem;
}

.lg {
 font-size: 40px;
}
